/* Google Maps div */
#map {
  grid-area: map;
  margin: auto;
  margin-top: 0;
  margin-left: 10%;
  height: 80%;
  width: 50%;
  border: 2px solid rgb(4, 190, 190);
  border-radius: 15px 15px;
  box-shadow: 15px 15px rgba(0, 0, 0, 0.5);
}

.popup {
  margin: auto;
  margin-bottom: 0;
  padding: 2%;
  width: 100%;
  color: black;
}

/* Normalize the body */
html,
body {
  font-family: "Comfortaa", sans-serif;
  color: white;
  background-color: rgb(51, 51, 51);
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Font types */
.logo-font {
  font-family: "Fredoka", sans-serif;
}

.accent-font {
  font-family: "Open Sans", sans-serif;
}

.main-font {
  font-family: "Arimo", sans-serif;
}

/* Styling for the navbar */
.navbar {
  opacity: 90%;
}

/* Styling for the Hero */
.hero {
  position: relative;
  height: 55%;
  letter-spacing: 2px;
  background-image: url(../img/hero.jpg);
  background-size: contain;
  box-shadow: rgb(51, 51, 51) 0px -14px 14px -5px inset;
  text-shadow: 2px 2px rgb(51, 51, 51);
}

.hero-title {
  position: relative;
  font-size: 120px;
  margin-top: 1%;
  z-index: 2;
}

.hero-text {
  position: relative;
  top: 2%;
  font-size: 22px;
  z-index: 2;
}

#hero-logo {
  position: absolute;
  opacity: 60%;
  width: 30%;
  bottom: 0;
  left: 35%;
  z-index: 1;
}

/* Styling for the search bar section */
.search-bar {
  margin-left: 10%;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* Styling for the map and band display section */
.main {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

/* Styling for the band display card */
.card {
  grid-area: card;
  width: 28%;
  height: 80%;
  padding: 5%;
  margin-right: 10%;
  text-align: center;
  color: white;
  background-color: rgb(97, 97, 97);
  border: 2px solid rgb(4, 190, 190);
  box-shadow: 15px 15px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px rgb(51, 51, 51);
}

.card a {
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.card img {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}

/* Center the band image and adjust the size */
#artistImg {
  margin: auto;
  margin-left: 5%;
  width: 80%;
}

/* Styling for the band name */
h3 {
  margin-top: 25%;
}

/* FAQ Styling */
.accordion {
  /* text colour of opened accordion item*/
  --bs-accordion-color: white;
  /* bg of open accordion item */
  --bs-accordion-bg: rgb(39, 38, 38);
  /* text colour of buttons */
  --bs-accordion-btn-color: white;

  /* outline */
  --bs-accordion-border-color: rgb(4, 190, 190);

  /* box shadow */
  box-shadow: 15px 15px rgba(0, 0, 0, 0.5);

  /* accordion active button */
  /* spacing text and outer */
  --bs-accordion-btn-padding-y: 1.25rem;
  /* colour of text when open */
  --bs-accordion-active-color: black;
  /* colour of bg when active */
  --bs-accordion-active-bg: rgb(4, 190, 190);
  /* bg when closed */
  --bs-accordion-btn-bg: rgb(97, 97, 97);
}

.accordion-body {
  --bs-accordion-body-padding-y: 30px;
}

.container {
  --bs-gutter-y: 2.5rem;
}

/* search button styles */
.btn-outline-success {
  --bs-btn-color: rgb(4, 190, 190);
  --bs-btn-border-color: rgb(4, 190, 190);
  --bs-btn-hover-bg: rgb(4, 190, 190);
}

/* Media Queries */
@media only screen and (max-width: 1480px) {
  body {
    height: 100%;
    display: block;
  }

  /* Hero Styling */
  .hero-text {
    font-size: 18px;
    width: 100%;
  }

  /* Map and card positioning */
  .main {
    display: block;
  }

  #map {
    margin: auto;
    top: 10%;
    width: 85%;
    height: 75%;
    z-index: 1;
  }

  /* Position elements inside card */
  .card {
    position: absolute;
    top: 72%;
    left: 32.5%;
    margin: auto;
    margin-top: 2%;
    width: 60%;
    height: 30%;
    z-index: 2;
    padding: 0;
    text-align: left;
    padding: 2%;
  }

  .card img {
    width: 35%;
  }

  #results {
    margin: auto;
  }

  #artistInfo {
    position: absolute;
    top: 0;
    width: 45%;
    margin-left: 40%;
  }

  /* Search button position */
}
